.form_textarea{
    max-width: 25rem; 
    max-height: 8rem; 

    &::-webkit-scrollbar {
        display: none;
    }

}


.form{
    background: #f7c2c2;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;

    &_title{
        font-size: 2rem;
        margin-bottom: .5em;
    }

    &_container{
        margin-top: 3em;
        display: grid;
        gap: 2.5em;
    }

    &_group{
        position: relative;
        --color: #181c1c7e;
    }


    &_input{
        width: 100%;
        background: none;
        font-size: .8rem;
        background-color: none;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
    }

    &_input:focus,
    &_input:not(:placeholder-shown){
        color: #4d4646;
    }

    &_input:focus + &_label,
    &_input:not(:placeholder-shown) + &_label{
        transform: translateY(-12px) scale(.7);
        transform-origin: left top;
        color: #fff;
    }

    &_label{
        color: var(--color);
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 5px;
        transform: translateY(10px);
        transition: transform .5s, color .3s;
    }

    &_submit{
        background: var(--pica-color);
        color: #fff;
        font-weight: 700;
        font-size: 1rem;
        padding: .8em 0;
        border: none;
        border-radius: .5em;
    }

    &_line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(255, 128, 128);
        transform: scale(0);
        transform: left bottom;
    }

    &_input:focus ~ &_line,
    &_input:not(:placeholder-shown) ~ &_line{
        transform: scale(1);

    }


}


@media (max-width:425){
    .form_titlle{
        font-size: 1.8rem;
    }
}


.form_textarea-line{
    background-color: #f7c2c2;


}