.pregtf{
    width: 90%;
    background: #f7c2c2;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}



.title_pf{
    width: 30%;
    padding: 1.5em 1.5em;
    margin: 1.5em auto;
    text-align: center;
    font-weight: 500;
    font-size: large;
    background: var(--pica-color) ;
    border-radius: 5px;
    color: rgb(215, 217, 250);
}

.container_text{
    margin: 90px 0;
}

@media (min-width: 650px){
    .title_pf{
        font-size: x-large;
        font-weight: 900;
}
}