.footer__container{
    display: flex;
    background: var(--pica-color);
    flex-direction: column;
    margin-top:auto; 
}

.footer__services{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    
}



.footer__services-title{
    display: block;
    justify-content: center;
    text-align: center;
    color: #fff;

}

.footer__links{
    margin: 0.5em 0;
    list-style: none;
    text-align: center;
}
.footer__link{
    text-decoration: none;
    list-style: none;
    color: #fff;
    
}

.footer__link:hover{
    color: rgb(28, 3, 255);
}

.main__container{
    height: 900px;
    width: 70%;
}
@media (min-width: 650px){  
    .footer__services-title{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: .5rem;
        text-transform: uppercase;

    }
    
    .footer__container{
        display: flex;
        background: var(--pica-color);
        flex-direction: row;
        
    }
    .footer__links a{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: .5rem;
        width: 90%;
    }
    .footer__services{
        display: inline;
        width: 100%;
        margin: 0 5px;
        
    }
    .services__paragraph{
        float: right;
    }
    
    
}